---
const { count } = Astro.props;
---

<hn-toggle open count={count} class="toggle open">
        <a>[-]</a>
  </hn-toggle>
  <ul class="comment-children">
    <slot />
  </ul>

<script>
    class HnToggle extends HTMLElement {
        static get observedAttributes() { return ['open']; }

        connectedCallback() {
            this.addEventListener('click', this.toggle.bind(this))
        }

        attributeChangedCallback(name: string, oldValue: string, newValue: string) {
            if (!this.button) return
            this.button.textContent = newValue === '' ? '[-]' : `[+] ${this.count} collapsed`
        }      

        get button() {
            return this.querySelector('a')
        }

        get open() {
            return this.hasAttribute('open')
        }

        set open(value) {
            value
                ? this.setAttribute('open', '')
                : this.removeAttribute('open')
            this.classList.toggle('open', value)
        }

        get count() {
            const n = +(this.getAttribute('count') || 0);
            return `${n} ${n === 1 ? 'reply' : 'replies'}`;
        }

        toggle() {
            this.open = !this.open
        }
    }

    customElements.define('hn-toggle', HnToggle)
</script>

<style>
    hn-toggle {
        display: block;
    }

    hn-toggle:not([open]) + .comment-children {
      display: none;
    }
</style>